<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/5.2/phpunit.xsd"
	backupGlobals="false"
	bootstrap="tests/bootstrap.php"
	colors="true"
	failOnRisky="true"
	failOnWarning="true"
	testdox="true"
>
	<testsuites>
		<testsuite name="WPX Scripts Unit Tests">
			<directory>./tests/unit/src</directory>
		</testsuite>
	</testsuites>
</phpunit>
